<!-- Left Menu -->
<aside class="sidebar">
    <nav class="sidebar-nav">
        <ul class="metismenu">
            <li class="title">

            </li>
            <li class="active">
                <a href="/public/index">
                    <i class="material-icons">dashboard</i>
                    <span class="nav-label">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">layers</i>
                    <span class="nav-label">Master Management</span>
                </a>
                <ul>

                    <li class="active">
                        <a href="/public/user_list"> User Management </a>
                    </li>
                    <li class="active">
                        <a href="/public/push_messaging_service"> Push Messaging Service</a>
                    </li>
                    <li class="active">
                        <a href="/public/shop_list">Vendors</a>
                    </li>
                    <li class="active">
                        <a href="/public/category_list">Vendor Category Management</a>
                    </li>
                    <li class="active">
                        <a href="/public/subcategory_list">Product Category Management</a>
                    </li>
                   
                    <li class="active">
                        <a href="/public/master_product_list">Product Management</a>
                    </li>
                    <li class="active">
                        <a href="/public/order_list">Order List</a>
                    </li>
                    <li class="active">
                        <a href="/public/banner_list">Banners</a>
                    </li>
                    <!-- <li class="active">
                        <a href="/public/report_list">Reports</a>
                    </li> -->
                    <li class="active">
                        <a href="/public/payment_list">Payments</a>
                    </li>
                </ul>
            </li>
            <!-- Sports tag start -->

            <li>

                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">groups</i>
                    <span class="nav-label">Vendor Management</span>
                </a>
                <ul>
                <li class="active">
                    <a href="/public/shop_vender_list">Shop List </a>
                </li>
              </ul>
            </li>
            <li class="">
                <a href="/public/transaction_report_list">
                    <i class="material-icons">contact_phone</i>
                    <span>Transaction Report</span></a>
            </li>

            <li class="">
                <a href="/public/add_service_charge">
                    <i class="material-icons">contact_phone</i>
                    <span>Service Charge</span></a>
            </li>

            <li class="">
                <a href="/public/privacyList">
                    <i class="material-icons">fullscreen</i>
                    <span>Privacy Pollicy</span>
                </a>
            </li>
            <li class="">
                <a href="/public/termList">
                    <i class="material-icons">dvr</i>
                    <span>Term and Condiction</span>
                </a>
            </li>
            <li class="">

                <a href="/public/faqList">
                    <i class="material-icons">book</i>
                    <span>About Us</span>
                </a>
            </li>
            <li class="">
                <a href="/public/contactList">
                    <i class="material-icons">contact_phone</i>
                    <span>Contact Us</span></a>
            </li>
    </nav>
</aside>
